<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>派单管理界面</title>
		<link rel="stylesheet" th:href="@{/css/layui.css}" />
	</head>
	<body>
		<script th:src="@{/layui.js}"></script>
		<script th:src="@{/js/jquery-3.1.1.min.js}"></script>

		<table class="layui-hide" id="table" lay-filter="orderDistribute"></table>

		<script type="text/html" id="operatorBar">
			<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
			<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
			<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="distribute">派单</a>
		</script>

		<script>
			layui.use(['table', 'layer', 'form'], function() {
				var table = layui.table, form = layui.form, layer = layui.layer, $ = layui.jquery;

				table.render({
					elem: '#table',
					height: 500,
					url: '/api/order/all',
					parseData: function(res){ //res 即为原始返回的数据
						return {
							"code": res.status, //解析接口状态
							"msg": res.msg, //解析提示文本
							"count": res.data.total, //解析数据长度
							"data": res.data.item //解析数据列表
						};
					},
					title: '订单表',
					page: true, //开启分页
					toolbar: 'default', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
					totalRow: true, //开启合计行
					cols: [
						[
							{type: 'checkbox', fixed: 'left'},
							{field: 'order_id', title: '订单号', width: 280},
							{field: 'user_id', title: '用户名', width: 100},
							{field: 'order_class', title: '类别', width: 60},
							{field: 'order_state', title: '状态', width: 80},
							{field: 'op_id', title: '操作员', width: 80},
							{field: 'order_time', title: '预约时间', width: 160, sort: true},
							{fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#operatorBar'}
						]
					]
				});

				//监听行工具事件
				table.on('tool(orderDistribute)', function(obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
					// 获得当前行数据
					var data = obj.data;
					const layEvent = obj.event;
					switch(layEvent) {
						case 'detail':
							var index = layer.open({
								type: 2,
								title: "订单详情页面",
								area: ['30%', '60%'],
								fix: false,
								maxmin: true,
								shadeClose: true,
								shade: 0.4,
								skin: 'layui-layer-rim',
								content: ["/api/bg/admin/order/detail", "no"],
							});
							break;
						case 'distribute':
							var index = layer.open({
								type: 2,
								title: "编辑投诉页面",
								area: ['30%', '60%'],
								fix: false,
								maxmin: true,
								shadeClose: true,
								shade: 0.4,
								skin: 'layui-layer-rim',
								content: ["/medicaladmin/complain/complainEdit", "no"],
							});
							break;
						case 'edit':
							// var delIndex = layer.confirm('真的删除id为' + data.id + "的信息吗?", function(delIndex) {
							// 	$.ajax({
							// 		url: '/medicaladmin/complain/delete/'+data.id,
							// 		type: "post",
							// 		success: function(suc) {
							// 			if(suc.code == 200) {
							// 				obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
							// 				layer.close(delIndex);
							// 				console.log(delIndex);
							// 				layer.msg("删除成功", {
							// 					icon: 1
							// 				});
							// 			} else {
							// 				layer.msg("删除失败", {
							// 					icon: 5
							// 				});
							// 			}
							// 		}
							// 	});
							// 	layer.close(delIndex);
							// });
							break;
					}
				});

			});
		</script>

	</body>
</html>
