<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/layuimini/js/lay-module/step-lay/step.css}" media="all">
<link rel="stylesheet" th:href="@{/layuimini/lib/jq-module/zyupload/zyupload-1.0.0.min.css}" media="all">
<body>

<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-card-body" style="padding-top: 15px;">
                    <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                        <div carousel-item>
                            <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 1200px;padding-top: 15px;">
                                    <div class="layui-row layui-col-space10">
                                        <div class="layui-col-md4">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">订单编号:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" id="order_id" th:text="${order.order_id}"></div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">用户姓名:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" th:text="${order.user_id}"></div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">操作员姓名:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" th:text="${order.op_id}"></div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">订单状态:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" th:text="${order.order_state}"></div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">创建时间:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" th:text="${order.order_createtime}"></div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">预约时间:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" th:text="${order.order_time}"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md4">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">订单类别:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" th:text="${order.order_class}"></div>
                                                </div>
                                            </div>

                                            <div class="layui-form-item">
                                                <label class="layui-form-label">户型/车座位:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" th:text="${order.order_scope}">平米</div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">户/车型描述</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" th:text="${order.order_descripe}"></div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">联系人:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" th:text="${order.order_contact}"></div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">联系地址:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" th:text="${order.order_address}"></div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">户型/车型图:</label>
                                                    <div id="layer-photos-demo" class="layer-photos-demo" style="padding: 10px;">
                                                        <img th:src="${order.order_modelf}"
                                                             width="200px" height="100px" style="margin: 3px; border: black 2px;"/>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="layui-col-md4">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">联系电话:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" th:text="${order.order_phone}"></div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">其他要求:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" th:text="${order.order_others}"></div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">特殊污染源:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" th:text="${order.order_pollution}"></div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">检测报告:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux" th:text="${order.order_moremoney}"></div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">预估费用:</label>
                                                <div class="layui-input-block">
                                                    <div class="layui-form-mid layui-word-aux">
                                                        <span style="font-size: 18px;color: #333;" th:text="${order.order_cost}"></span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit lay-filter="formStep">
                                                &emsp;下一步&emsp;
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">操作员分配:</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input" id="demo2" lay-verify="required" lay-reqtext="请分配操作员">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button type="button" class="layui-btn layui-btn-primary pre">上一步</button>
                                            <button class="layui-btn" lay-submit lay-filter="formStep2">
                                                &emsp;确认&emsp;
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <form class="layui-form" style="margin: 0 auto;max-width: 900px;padding-top: 40px;">
                                    <div class="layui-form-item"  style="text-align: left">
                                        <div>
                                            <canvas id="canvas" width="500" height="350" style="border: 0.5px solid #c5c0ba;">
                                                <span>您的浏览器不支持画布元素 请您换成谷歌浏览器</span>
                                            </canvas>
                                        </div>
                                        <div class="layui-input-block" style="display: inline-block;text-align: left">
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm prePhoto" ><i class="layui-icon"></i></button>
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm nextPhoto" ><i class="layui-icon"></i></button>
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm choseColor" ><i class="layui-icon">&#xe62f;</i></button>
                                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm cleanCanvas" ><i class="layui-icon"></i></button>
                                        </div>
                                    </div>
                                    <div class="layui-form-item" style="text-align: center">
                                        <div class="layui-input-block" style="display: inline-block">
                                            <button class="layui-btn" lay-submit lay-filter="formStep3">
                                                &emsp;完成&emsp;
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <div style="text-align: center;margin-top: 90px;">
                                    <i class="layui-icon layui-circle"
                                       style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                                    <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                        分配成功
                                    </div>
                                    <div style="font-size: 14px;color: #666;margin-top: 20px;">请关闭当前页面</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div style="color: #666;margin-top: 30px;margin-bottom: 40px;padding-left: 30px;">
                        <h3>说明</h3><br>
                        <p>核验预约信息：请审查预约信息的完整性和有效性，如有误，请联系处理。</p>
                        <p>预约处理：请分配预约信息的操作员，同时上传点位分布图。</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script th:src="@{/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/layuimini/lib/jq-module/zyupload/zyupload-1.0.0.min.js}" charset="utf-8"></script>
<script>
    layui.use(['form', 'step','tableSelect','layer'], function () {
        var $ = layui.$,
            form = layui.form,
            step = layui.step,
            tableSelect = layui.tableSelect,
            layer = layui.layer,
            chooseOpID = 0,
            chooseOrderID = document.getElementById("order_id").textContent,
            canvas = document.getElementById('canvas'),
            ctx = canvas.getContext("2d"),
            picList = [],
            index = 0;
        // 获取户型图
        getPictureUrl(chooseOrderID);
        // 对canvas画图填充
        drawImage(picList[index]);
        // 监听画布进行
        canvas.onmousedown = function(e){
            /*找到鼠标（画笔）的坐标*/
            var cRect = canvas.getBoundingClientRect();
            var canvasX = Math.round(e.clientX - cRect.left);
            var canvasY = Math.round(e.clientY - cRect.top);
            ctx.beginPath();    //开始本次绘画
            ctx.moveTo(canvasX, canvasY);   //画笔起始点
            /*设置画笔属性*/
            ctx.lineCap = 'round';
            ctx.lineJoin ="round";
            ctx.strokeStyle = "yellow";     //画笔颜色
            ctx.lineWidth = 8;      //画笔粗细
            canvas.onmouseup = function(e){
                //根据鼠标位置绘点
                ctx.lineTo(canvasX, canvasY);
                //立即渲染
                ctx.stroke();
                //结束本次绘画
                ctx.closePath();
                canvas.onmouseup = null;
            };
        };

        layer.photos({
            photos: '#layer-photos-demo'
            , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        });
        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        tableSelect.render({
            elem: '#demo2',
            checkedKey: 'id',
            table: {
                url: '/api/bg/admin/getalloperatorinfo',
                cols: [
                    [
                        { type: 'radio' },
                        { field: 'op_id', title: '工号' },
                        { field: 'op_name', title: '姓名' },
                        { field: 'op_phone', title: '手机号' },
                        { field: 'op_score', title: '状态' }
                    ]
                ]
            },
            done: function (elem, data) {
                var NEWJSON = [];
                layui.each(data.data, function (index, item) {
                    NEWJSON.push(item.op_name);
                    chooseOpID = item.op_id;//选中的操作员
                });
                elem.val(NEWJSON.join(","));
            }
        });

        step.render({
            elem: '#stepForm',
            filter: 'stepForm',
            width: '100%', //设置容器宽度
            stepWidth: '1200px',
            height: '500px',
            stepItems: [{
                title: '核验预约信息'
            }, {
                title: '操作员分配'
            }, {
                title: '布点图上传'
            }, {
                title: '派单完成'
            }]
        });


        form.on('submit(formStep)', function (data) {
            step.next('#stepForm');
            return false;
        });

        form.on('submit(formStep2)', function (data) {
            //后台更新数据
            //异步传输
            $.ajax({
                type: "post",
                url:"/api/distribute/distribute_order",
                data:{
                    "chooseOpID": chooseOpID,
                    "chooseOrderID": chooseOrderID,
                },
                dataType:"json",
                success:function (data) {
                    if(data.data === "ok"){
                        layer.msg("ok");
                    } else {
                        layer.msg("失败");
                    }

                },
                error:function (data) {
                    layer.msg("检查是否有填写错误");
                }
            });

            step.next('#stepForm');
            return false;
        });

        form.on('submit(formStep3)', function (data) {
            //后台更新数据
            //异步传输
            step.next('#stepForm');
            return false;
        });
        $(".pre").click(function () {
            step.pre('#stepForm');
        });

        $(".next").click(function () {
            // step.next('#stepForm');
            //查看详情
        });
        $(".choseColor").click(function(){
            var b64Image = canvas.toDataURL('image/jpeg');
            var u8Image  = b64ToUint8Array(b64Image);
            var formData = new FormData();
            formData.append("file", new Blob([ u8Image ], {type: "image/jpg"}));
            $.ajax({
                type:'post',
                url:"api/upload?order_id="+chooseOrderID,
                data:formData,
                processData:false,
                contentType:false,
                success:function(data){
                    if (data.msg === "OK"){
                        layer.msg("上传成功");
                    }
                }
            });
        });
        $(".prePhoto").click(function(){
            index = index - 1;
            if(index < 0){
                index = index + 1;
                layer.msg("别点了，到头了");
            }else{
                drawImage(picList[index]);
            }
        });
        $(".nextPhoto").click(function(){
            index = index + 1;
            if(index >= picList.length-1){
                layer.msg("亲~ 到底了");
                index = index - 1;
            }else{
                drawImage(picList[index]);
            }
        });
        $(".cleanCanvas").click(function(){
            ctx.clearRect(0,0,canvas.width,canvas.height);
            drawImage(picList[index]);
        });
        function b64ToUint8Array(b64Image) {
            var img = atob(b64Image.split(',')[1]);
            var img_buffer = [];
            var i = 0;
            while (i < img.length) {
                img_buffer.push(img.charCodeAt(i));
                i++;
            }
            return new Uint8Array(img_buffer);
        }
        function drawImage(path) {
            var img = new Image();
            img.src = "../" + path;
            img.onload = function () {
                ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
            };
        }

        function getPictureUrl(order_id) {
            $.ajax({
                type: "get",
                url: "/api/order/check_detail",
                data: {
                    order_id: order_id
                },
                async: false,
                contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                success: function (data) {
                    let order_modelf = data.data.order_modelf;
                    picList = order_modelf.split("@");
                },
                error: function (data) {
                    layer.msg("获取户型图失败");
                }
            });
        }
    })
</script>
</body>
</html>