<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/layuimini/js/lay-module/step-lay/step.css}" media="all">
<link rel="stylesheet" th:href="@{/layuimini/lib/jq-module/zyupload/zyupload-1.0.0.min.css}" media="all">

<body>

<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-card-body" style="padding-top: 15px;">
                    <div carousel-item>
                        <form class="layui-form" style="margin: 0 auto;max-width: 1200px;padding-top: 15px;">
                            <div class="layui-row layui-col-space10">
                                <div class="layui-col-md4 layui-col-md-offset2">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">用户编号:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" th:text="${userholder.user_id}"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">昵称:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" th:text="${userholder.user_nickname}"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">性别:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" th:text="${userholder.user_gender}"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">电话:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" th:text="${userholder.user_phone}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md4 layui-col-md-offset2">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">姓名:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" th:text="${userholder.user_name}"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">密码:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" th:text="${userholder.user_pwd}"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">类别:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" th:text="${userholder.role_desc}"></div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">地址:</label>
                                        <div class="layui-input-block">
                                            <div class="layui-form-mid layui-word-aux" th:text="${userholder.user_address}"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>