<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/layuimini/js/lay-module/step-lay/step.css}" media="all">
<link rel="stylesheet" th:href="@{/layuimini/lib/jq-module/zyupload/zyupload-1.0.0.min.css}" media="all">
<style type="text/css">
    .layui-form-label.layui-required:before{
        content:"*";
        color:red;
    }
</style>
<body>
<form class="layui-form" style="max-width: 1200px;padding-top: 40px;">
    <div class="layui-form-item">
        <label class="layui-form-label">用户编号</label>
        <div class="layui-input-block">
            <input type="text"  name="order_id" required  lay-verify="required"
                   placeholder="请输入标题" autocomplete="off" class="layui-input layui-disabled"
                   th:value="${order.order_id}">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label layui-required required">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="order_contact" lay-verify="required"
                       lay-reqtext="姓名不能为空" placeholder="请输入联系人"
                       class="layui-input" th:value="${order.order_contact}" >
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label layui-required required">手机</label>
            <div class="layui-input-inline">
                <input type="number" name="order_phone" lay-verify="required|phone"
                       lay-reqtext="手机不能为空" placeholder="请输入手机"
                       class="layui-input" th:value="${order.order_phone}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label required">类别</label>
            <div class="layui-input-block">
                <!-- 使用隐藏标签获取Model中的数据-->
                <input type="hidden" id="orderClass" th:value="${order.order_class}">
                <input type="radio" name="order_class" value="1" title="工装">
                <input type="radio" name="order_class" value="2" title="家居">
                <input type="radio" name="order_class" value="3" title="车辆">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label layui-required">地址</label>
            <div class="layui-input-inline">
                <input type="text" lay-verify="required" name="order_address" placeholder="请输入地址"
                       class="layui-input" th:value="${order.order_address}">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label layui-required">面积</label>
            <div class="layui-input-inline">
                <input type="text" lay-verify="required | number" name="order_scope" placeholder="请输入面积"
                       class="layui-input" th:value="${order.order_scope}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label layui-required">预约时间</label>
            <div class="layui-input-inline">
                <input type="hidden" id="orderDate" th:value="${order.order_time}">
                <input type="text" class="layui-input" id="test1" name="order_time">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label layui-required">具体描述</label>
        <div class="layui-input-block">
            <input type="text" lay-verify="required" name="order_descripe" placeholder="请输入户型描述"
                   th:value="${order.order_descripe}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">特殊污染</label>
        <div class="layui-input-block">
            <input type="text" lay-verify="required" name="order_pollution" placeholder="请输入施工地点描述"
                   th:value="${order.order_pollution}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">特殊要求</label>
        <div class="layui-input-block">
            <textarea name="order_others" lay-verify="required" class="layui-textarea" placeholder="请输入备注信息"
                      th:text="${order.order_others}"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">空气检测</label>
            <div class="layui-input-inline">
                <input type="hidden" id="orderMoreMoney" th:value="${order.order_moremoney}">
                <input type="hidden" id="checked1" name="order_moremoney" value="0">
                <input type="checkbox" id="checked2" name="order_moremoney"
                       lay-skin="switch" lay-filter="switchTest" lay-text="是|否" value="1" lay-verify="required">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label layui-required">预估价格</label>
            <div class="layui-input-inline">
                <input type="text" lay-verify="required" name="order_cost" placeholder="请输入预估价格"
                       class="layui-input" th:value="${order.order_cost}">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="order_edit">
                    &emsp;确认&emsp;
                </button>
            </div>
        </div>
    </div>
</form>
<script>
    // 获取Model中的值
    const order_class = document.getElementById("orderClass").value;
    const order_time = document.getElementById("orderDate").value;
    const order_moremoney = document.getElementById("orderMoreMoney").value;
    layui.use(['form','laydate'],function(){
        var $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate;

        // 绑定radio
        $("input[name=order_class][value='1']").attr("checked", order_class === "工装");
        $("input[name=order_class][value='2']").attr("checked", order_class === "家居");
        $("input[name=order_class][value='3']").attr("checked", order_class === "车辆");
        // end 绑定radio

        // 绑定switch
        if (order_moremoney === "1"){
            $("#checked2").attr('checked',true);
            //  非常重要，刷新按钮状态
            form.render('checkbox');
        }
        // end 绑定switch

        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            layer.msg('空气检测：' + (this.checked ? '需要' : '不需要'), {
                offset: '6px'
            });
            layer.tips('温馨提示：空气检测不同于空气治理，请谨慎选择', data.othis);
        });

        //使用laydate实例
        laydate.render({
            elem: '#test1',   // 指定元素
            type: 'datetime', // 日期类型
            value: order_time // 初始值
        });
        form.render();
        //监听提交
        form.on('submit(order_edit)', function(data){
            console.log(data.field);
            console.log(JSON.stringify(data.field));
            $.ajax({
                type: "post",
                url:"/api/order/updateOrderInfo",
                data:JSON.stringify(data.field),
                contentType:"application/json;charset=UTF-8",
                success:function (data) {
                    if(data.data === "ok"){
                        layer.msg("订单更新成功");
                    } else {
                        layer.msg(data.msg);
                    }

                }
            });
            return false;
        });
    });
</script>
</body>
</html>