<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">设备编号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="equipment_id" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">相关设备</label>
                            <div class="layui-input-inline">
                                <input type="text" name="equipment_name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="equipment-data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="equipmentToolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加设备 </button>
                <button class="layui-btn layui-btn-danger layui-btn-sm data-add-btn" lay-event="delete"> 禁用所选 </button>
            </div>
        </script>

        <table class="layui-hide" id="equipmentTableDemo" lay-filter="equipmentTableFilter"></table>

        <script type="text/html" id="equipmentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-warm layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="forbid">禁用</a>
        </script>

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;

        table.render({
            elem: '#equipmentTableDemo',
            url: '/api/bg/admin/getallequipmentinfo',
            title: '设备表格',
            id:'equipmentTable',
            toolbar: '#equipmentToolbar',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    {field: 'eq_id', title: '编号',width: 200, align: "center"},
                    {field: 'eq_name', title: '设备名称',width: 200,  align: "center"},
                    {field: 'eq_type', title: '设备类型',width: 200,  align: "center"},
                    {field: 'eq_inner_num', title: '现存数量',width: 200,  align: "center"},
                    {field: 'eq_create_time', title: '创建时间',width: 200,  align: "center"},
                    {field: 'eq_add_time', title: '新增时间',width: 200,  align: "center"},
                    {field: 'eq_other', title: '其他描述',width: 200,  align: "center"},
                    {title: '操作', align: "center", width:180, toolbar: '#equipmentTableBar', fixed: 'right'}
                ]
            ],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            even: 'true'
        });

        // 监听搜索操作
        form.on('submit(equipment-data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            layer.alert(result, {
                title: '最终的搜索信息'
            });

            //执行搜索重载
            table.reload('equipmentTable', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                },
                url: '/api/bg/admin/getallequipmentbyparams',
            }, 'data');

            return false;
        });

        /**
         * toolbar事件监听
         */
        table.on('toolbar(equipmentTableFilter)', function (obj) {
            if (obj.event === 'add') {   // 监听添加操作
                var content = miniPage.getHrefContent('page/table/equipment_add.html');
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '添加物料',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['800px', '400px'],
                    offset: 'auto',
                    content: content,
                    end:function(){
                        // location.reload();//弹出层结束后，刷新主页面
                        table.reload('equipmentTable', {
                            page: {
                                curr: 1
                            },
                            url: '/api/bg/admin/getallequipmentinfo',
                        }, 'data');
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }else if(obj.event === 'delete'){
                layer.confirm('确定删除？',function (index) {
                    layer.close(index);
                    var checkStatus = table.checkStatus('equipmentTable'); //idTest 即为基础参数 id 对应的值

                    //获取选中行的数据
                    var arr = [];
                    for(var i = 0; i < checkStatus.data.length; i++){
                        arr.push(checkStatus.data[i].eq_id);
                    }
                    $.ajax({
                        type: "post",
                        url:"/api/bg/admin/del_equipments",
                        data:JSON.stringify(arr),
                        contentType: "application/json;charset=UTF-8",
                        success:function (data) {
                            if(data.data =="ok"){
                                layer.msg("delete ok");
                                table.reload('equipmentTable', {
                                    page: {
                                        curr:1
                                    },
                                    url: '/api/bg/admin/getallequipmentinfo',
                                }, 'data');
                            } else {
                                layer.msg("失败");
                            }

                        }
                    });
                    }
                );

            }
        });

        //监听表格复选框选择
        table.on('checkbox(equipmentTableFilter)', function (obj) {
            console.log(obj)
        });

        //行内工具栏
        table.on('tool(equipmentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                var material = obj.data;
                var jsonData = JSON.stringify(material);
                jsonData = encodeURIComponent(jsonData);
                console.log(jsonData);

                var content = miniPage.getHrefContent('/admin/page/table/equipment_detail?equipment='+jsonData);
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '设备详细信息',
                    type: 1,
                    shade: 0.2,
                    maxmin:false,
                    shadeClose: true,
                    area: ['800px', '380px'],
                    offset: 'auto',
                    content: content,
                    anim: 2,
                    resize: false,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            }
            else if (obj.event === 'edit') {
                var material = obj.data;
                var jsonData = JSON.stringify(material);
                jsonData = encodeURIComponent(jsonData);
                console.log(jsonData);
                var content = miniPage.getHrefContent('/admin/page/table/equipment_edit?equipment='+jsonData);
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '设备信息编辑',
                    type: 1,
                    shade: 0.2,
                    maxmin:false,
                    shadeClose: true,
                    area: ['800px', '400px'],
                    offset: 'auto',
                    content: content,
                    anim: 2,
                    resize: false,
                    end:function(){
                        // location.reload();//弹出层结束后，刷新主页面
                        table.reload('equipmentTable', {
                            page: {
                                curr:1
                            },
                            url: '/api/bg/admin/getallequipmentinfo',
                        }, 'data');
                    }
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            }else if (obj.event === 'forbid'){
                var orderID = data.eq_id;
                layer.confirm('真的删除此行么？', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                    $.ajax({
                        type: "post",
                        url:"/api/bg/admin/del_equipment",
                        data:orderID,
                        dataType:"application/json;charset=UTF-8",
                        contentType: "application/json;charset=UTF-8",
                        success:function (data) {
                            if(data.data =="ok"){
                                layer.msg("delete ok");
                                // table.reload('equipmentTable', {
                                //     page: {
                                //         curr:1
                                //     },
                                //     url: '/api/bg/admin/getallequipmentinfo',
                                // }, 'data');
                            } else {
                                layer.msg("失败");
                            }

                        }
                    });

                });
                return false;
            }
        });

    });
</script>