<style>
    .layui-top-box {padding:40px 20px 20px 20px;color:#fff}
    .panel {margin-bottom:17px;background-color:#fff;border:1px solid transparent;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
    .panel-body {padding:15px}
    .panel-title {margin-top:0;margin-bottom:0;font-size:14px;color:inherit}
    .label {display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;margin-top: .3em;}
    .layui-red {color:red}
    .main_btn > p {height:40px;}
</style>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main layui-top-box">
        <div class="layui-row layui-col-space10">

            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-cyan">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-blue">实时</span>
                                <h5>平台用户</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins"><i class="fa fa-male"></i> 1234</h1>
                                <div class="stat-percent font-bold text-gray"><i class="fa fa-line-chart"></i> 100</div>
                                <small>当前分类总记录数</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-blue">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-cyan">实时</span>
                                <h5>操作员</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins"><i class="fa fa-smile-o"></i>1234</h1>
                                <div class="stat-percent font-bold text-gray"><i class="fa fa-commenting"></i> 1234</div>
                                <small>当前分类总记录数</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-green">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-orange">实时</span>
                                <h5>流程统计</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins"><i class="fa fa-wrench"></i>300</h1>
                                <div class="stat-percent font-bold text-gray"><i class="fa fa-line-chart"></i> 3</div>
                                <small>当前分类总记录数</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                    <div class="panel layui-bg-orange">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-green">实时</span>
                                <h5>订单统计</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins"><i class="fa fa-reorder"></i>1234</h1>
                                <div class="stat-percent font-bold text-gray"><i class="fa fa-commenting"></i> 1234</div>
                                <small>当前分类总记录数</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-box">


        <div class="layui-row layui-col-space10">
            <div class="layui-col-md12">
                <div class="layui-carousel" id="test1">
                    <div carousel-item>
                        <div>
                            <img src="../images/2018053114114060944.jpg">
                        </div>
                        <div>
                            <img src="../images/2018053114114468313.jpg">
                        </div>
                        <div>
                            <img src="../images/2018053114190979161.jpg">
                        </div>
                        <div>
                            <img src="../images/2019080116102029148.jpg">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    var b = 1175/555;//我的图片比例
    //获取浏览器宽度
    var W = $(window).width();
    var H = $(window).height();
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '100%' //设置容器宽度
            ,height: (W/b).toString()+"px" //按比例和浏览器可视页面宽度来获取高度
            ,arrow: 'hover' //始终显示箭头
            ,anim: 'fade' //切换动画方式
            ,autoplay:true
            ,interval:3000
        });
    });
</script>