<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProcessMapper">


    <select id="get_my_process" resultType="com.example.demo.entity.Process">
        select * from process where process_id = #{id}
        order by pro_state DESC
    </select>
    <select id="get_one_info" resultType="com.example.demo.entity.Process">
        select * from process
        where process_id = #{process_id}
    </select>
    <select id="get_one_info2" resultType="com.example.demo.entity.Process">
        select * from process
        where order_id = #{order_id}
    </select>
    <update id="update_info" parameterType="com.example.demo.entity.Process">
        update process
        set ddata_id = #{ddata_id},
        user_id = #{user_id},
        order_id = #{order_id},
        pro_generator = #{pro_generator},
        pro_sampler = #{pro_sampler},
        pro_report = #{pro_report},
        pro_result = #{pro_result},
        pro_eq = #{pro_eq},
        pro_material =#{pro_material},
        pro_starttime = #{pro_starttime},
        pro_state = #{pro_state},
        pro_endtime = #{pro_endtime},
        pro_pictures = #{pro_pictures},
        express_id = #{express_id},
        express_name = #{express_name},
        pro_counttime = #{pro_counttime}
        where process_id = #{process_id}
    </update>
    <insert id="add_process" parameterType="com.example.demo.entity.Process">
        insert into process (process_id, user_id, order_id)
        values (#{process_id}, #{user_id}, #{order_id})
    </insert>

</mapper>